@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a1e27;
  --secondary-color: #e9c675;
  --text-light: #cbd5e1;
  --white: #ffffff;
  --max-width: 1300px;
  --header-font: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  text-align: center;
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--secondary-color);
}


.section__header {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.section__header1{
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-light);
}

.section__header2{
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}


.section__header__equipe{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Poppins";
  color: var(--white);
  margin-bottom: 20px;
}

.login__btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-family: "Poppins";
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.login__btn__sair{
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-family: "Poppins";
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.login__btn__sair:hover {
  background-color: rgba(10, 30, 39, 0.5);
}

.login__btn:hover {
  background-color: rgba(10, 30, 39, 0.5);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--header-font);
}

.header1 {
  position: relative;
  height: 100vh;
}

.header1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0),
      var(--primary-color)
    ),
    url("/img/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.header {
  position: relative;
  height: 100vh;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 15rem);
  background-image: radial-gradient(
      rgba(255, 255, 255, 0),
      var(--primary-color)
    ),
    url("/img/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

nav {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  z-index: 9;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  position: absolute;
  right: 1rem;
  top: 68px;
  width: calc(100% - 2rem);
  max-width: 350px;
  padding: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(10, 30, 39, 0.8);
  border-radius: 10px;
  display: none;
}

.nav__links.open {
  display: flex;
  animation: show-nav 0.3s linear forwards;
}

.nav__links.close {
  animation: hide-nav 0.3s linear forwards;
}



/*Carrosel*/
.container-carrosel{
  display: flex;
  justify-content: center;
  max-width: 1920px;
  background-color: #0a1e27;
  height: 600px;
}

.carousel-container {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 83%;
  overflow: hidden;
  border-radius: 15px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  min-width: 100%;
  box-sizing: border-box;
}



@keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-nav {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__action__btn {
  display: none;
}

.image {
  display: flex;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}
.overlay {
  max-width: 400px;
  margin-left: 109px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.image:hover {
  opacity: 0.3;
}
.overlay:hover {
  opacity: 1;
}


.overlay1 {
  max-width: 400px;
  margin-left: 752px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.overlay1:hover {
  opacity: 1;
}


.header__container {
  position: relative;
  isolation: isolate;
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  max-width: 700px;
}

.header__content .section__header {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
}

.header__content a {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.header__content a:hover {
  color: var(--secondary-color);
}

.about {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color) 8rem
  );
  overflow: hidden;
}

.about__container {
  padding-top: 0;
  display: grid;
  gap: 5rem 2rem;
  overflow: hidden;
}

.about__image img {
  max-width: 400px;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.about__content p {
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

.about__content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
}


.footer {
  padding: 25px;
  background-color: var(--primary-color);
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}


.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
  width: 290px;
  height: 360px;
  padding: 47px;
  color: #fff;
  background-color: var(--primary-color); 
  border-radius: 10px;
  font-size: 1em; 
  font-family: var(--header-font); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}


.popup h1 {
  text-align: center; 
  margin-bottom: 15px; 
}

.popup form {
  display: flex;
  flex-direction: column; 
}

.popup input[type="text"],
.popup input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 0.9em;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2; 
}

.popup input[type="submit"],
.popup input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color); 
  color: #fff;
  cursor: pointer;
}

.popup input[type="submit"]:hover,
.popup input[type="button"]:hover {
  background-color: rgba(10, 30, 39, 0.8); 
}



/*Responsividade*/
@media only screen and (max-width: 600px) {
  .login {
    width: 70%;
    padding: 3em;
  }
}

.nav__logo {
  flex: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
}

@keyframes bounce1 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce2 {
  0% {
    opacity: 0;
  }

  70% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@media (width < 1920px){
  .overlay{
    max-width: 0px;
  }
  .overlay1{
    max-width: 0px;
  }
  .image{
    display: none;
  }
}


@media (width > 620px) {
  .nav__logo {
    flex: 1;
  }


  .nav__links {
    position: static;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__action__btn {
    justify-content: flex-end;
    display: flex;
    flex: 1;
  }

  .header__container {
    height: calc(100% - 10rem);
  }

  .section__header2{
    font-size: 1.5;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem 2rem;
  }

  .about__image-1 {
    grid-area: 1/2/2/3;
  }

  .about__image-3 {
    grid-area: 3/2/4/3;
  }

  .about__content {
    margin-left: 6rem;
  }

  .footer__container {
    grid-template-columns: 2fr 1fr 1fr;
  }

  
}

